extends ../layout
block content
  .container-fluid.full-height.blog-page#blog-image.img-back-repeat.rel.light

    .row#blog
      .col-md-9
        ul.post-list
          if admin
            li.post
              h3.blog-list-heading 
                a(href='/blogadmin/new') New post... 
          - each post, i in posts
            li.post
              h3.blog-list-heading 
                a(href='/#{link}/#{post._id}') #{post.title}
              h8.blog-list-created #{post.created.toDateString()}
              .blog-list-content!=post.content.substring(0,300) + ". . ."
              p.blog-list-comments #{post.comments.length} comments
      .col-md-3
        .bio-wrap
          .bio
            .row
              .col-xs-6
                h3 About <br> <a href = "/"><span>me</span></a>
              .col-xs-6
                img(src="/images/headshot.jpg")
            .row
              .col-xs-12
                p I'm an aspiring web develper from Melbourne, Australia. I lived in Japan for a few years and love Japanese culture. When I'm not staring at a screen I love to cook, eat and drink!
